{% import '_includes/forms' as forms %}

{{ forms.textField({
    label: "Search Engine ID"|t,
    instructions: "The Search Engine ID is located in the 'Basics' tab next to 'Details' in the <a href=\"https://www.google.com/cse\">Google Site Search control panel</a>"|t,
    id: 'searchEngineId',
    name: 'searchEngineId',
    value: settings.searchEngineId,
}) }}


{{ forms.textField({
    label: "API Key"|t,
    instructions: "<strong>Free Tier:</strong> The API Key is located under the 'APIs & auth' tab in the 'Credentials' tab in the <a href=\"https://console.developers.google.com\">Google Developer Console</a><br /><strong>Paid Tier:</strong> The API Key is located under the 'Business' tab in the 'XML & JSON' tab in the <a href=\"http://www.google.com/cse/manage/all\">Control Panel</a>"|t,
    id: 'apiKey',
    name: 'apiKey',
    value: settings.apiKey,
}) }}

